.wrapper{
    min-width: 1200px;
}

.icon{
    background-size: 16px;
    background-repeat: no-repeat ;
    background-position: 15px center;
    background-image: url("arama-iconu-2.png");
    background-color:  #D3D3D3;
    border-color: #D3D3D3;
}

.icon-2{
    width: 700px;
    height: 50px;
    border-radius: 30px;
    margin-left: 30px;
    padding-left: 70px;
    background-size: 50px;
    background-repeat: no-repeat ;
    background-position: 15px center;
    background-image: url("ihracat-iconu.png");
    border: 1px solid #c5c0c0;
    outline: none;
}

.form-control:focus{
      border-color: #b0b0b0;
      box-shadow: none;
      background-color: #D3D3D3;
}

.webp-background-color{
    background-color:rgb(240, 242, 245) ;
}

.webp-border{
    border: 1px solid #c5c0c0;
}
.webp-color{
    color: rgb(37, 71, 163);
}
.webp-color:hover{
    text-decoration: none;
}

.webp-text-color{
    color: #b0b0b0;
}

.w-10{
    width: 60px;
    height: 60px;
}

.w-5{
    width: 35px;
    height: 35px;
    margin-top: 7px;
    margin-left: 9px;
}

.w-15{
    width: 40px;
    height: 40px;
}

.text-black{
    color: black;
}
.text-black:hover{
    color: black;
    text-decoration: none;
}

.koyu{
    color: rgb(97, 97, 97);
    transition: 0,3s;
}

.koyu:hover{
    color: black;
    text-decoration: none;
    outline: none;
}
/* navbar exit */

.profile-banner{
    height: 60px;
    background-image: url("IMG_3734.JPG");
    background-size: cover;
    background-position: center;
}

.profile-photo{
    width: 72px;
    height: 72px;
    margin-top: -35px; /* Fotoğrafı bannerın üstüne taşırır */
    border: 2px solid white;
}

.btn{
    border-radius: 25px;
     color: rgb(37, 71, 163);
     border: 1px solid rgb(37, 71, 163);
}

.btn:focus{
      box-shadow: none;
      background-color:rgb(255, 255, 255);
      color: rgb(37, 71, 163);
}

.chat-box{
    position:fixed;
    bottom:0px;
    right:80px;
    width:300px;
    height:58px;
}

.chat-header{
    font-weight:bold;
}
































